*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top:3rem;
    position: sticky;
    top:0rem;
    z-index: 11;
}

.navbar{
    background-color:white;

    padding:1rem 2rem;

    .container{
        gap:7rem;
    }
}



.nav-link:hover{
    border-bottom: 2px solid brown;

}
.nav-link{
    color:black;
}

.contactUs{
    border-bottom: 2px solid brown;
}

.contactUs:hover{
    border:none;
}
 
.hero{
    position:absolute;
    background-color: #541975;
    z-index: -1;
    width: 100%;
   height:100%;
    top:0;

    .container{
        margin-top:15rem;
        display: grid;
        grid-template-columns: 800px;
        justify-content: center;
        text-align: center;
    }

    .sectionheading{

        h3{
            color:white;
            font-size:1rem;
            font-weight: bold;
        }
       
    }

    .sectionpara{
        p{
            color:white;
            font-size:2rem;
            font-weight: bolder;
        }
    }
}




#first{
  margin-top:30rem;
}

form{
    display:flex;
    flex-direction: column;
    gap:3rem;
}

.FirstLeftSide{
   
    img{
        width: 20rem;
    }
}


// right side 

.firstrow{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    input{
        background-color: rgba(46,59,66,.05);
        border: 2px solid transparent;
        width: 20rem;
        height: 3rem;
        color: #2e3b42;
        outline:none;
        padding:0rem 1rem;
    }
}

input[type=email]{

    background-color: rgba(46,59,66,.05);
    border: 2px solid transparent;
 
    height: 3rem;
    color: black;
    outline:none;
    padding:0rem 1rem;

}

// textarea{
//     // background-color: rgba(46,59,66,.05);
//     // border: 2px solid transparent;
 
//     // height: 100px;
//     // color: black;
//     // outline:none;
//     // padding:0rem 1rem;
// }

// footer section 
footer{
    margin-top:100px;
    background: #541975;

}

#container5{
    width: 80%;
    margin:0 auto;
    padding-top:50px;
  
}
    

#upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    margin-bottom: 100px;
}

#upper-section-right p:first-child{
    margin-left:135px;
    margin-bottom: 20px;
}


#last{
    display: flex;
    flex-direction: column;
     text-align: center;
    align-items: center;
    color: white;
}
#last nav a{
    color:white;
    text-decoration: none;
    display: inline-block;
    margin-left:0.5rem;
    
}

#last nav a:hover{
    color:#b9776e;
}
#last p{
    margin-top:40px;
}



@media(max-width:495px){


    
    .navbar-brand{
        img{
            width: 5rem;
        }
    }

    // hero section 

    .hero{
        position:absolute;
        background-color: #541975;
        z-index: -1;
        width: 100%;
       height:100%;
        top:0;
    
        .container{
            margin-top:15rem;
            display: grid;
            grid-template-columns: 300px;
            justify-content: center;
            text-align: center;
        }
    
        .sectionheading{
    
            h3{
                color:white;
                font-size:1rem;
                font-weight: bold;
            }
           
        }
    
        .sectionpara{
            width: 100%;
            p{
                color:white;
                font-size:1rem;
                font-weight: bolder;
            }
        }
    }


    // first section 
    
#first{
    margin-top:20rem;
  }

  .FirstLeftSide{
    text-align: center;
  }

  .SecondCol{
    margin-top:1rem;
}


.firstrow{
    flex-direction: column;
    
}
input {
    width: 100%;
}
input[type=email]{
    width: 100%;
}

    /* footer section  */
    #upper-section{
        display: flex;
      flex-direction: column;
        gap:3rem;
        margin-bottom: 3rem;
    }

    #upper-section-right p:first-child{
        margin-left:0rem;
        margin-bottom: 1rem;
        text-align: center;
    }

}

@media(min-width:496px) and (max-width:750px){

    .navbar-brand{
        img{
            width: 14rem;
        }
    }

    // hero section 

    .hero{
        position:absolute;
        background-color: #541975;
        z-index: -1;
        width: 100%;
       height:100%;
        top:0;
    
        .container{
            margin-top:15rem;
            display: grid;
            grid-template-columns: 300px;
            justify-content: center;
            text-align: center;
        }
    
        .sectionheading{
    
            h3{
                color:white;
                font-size:1rem;
                font-weight: bold;
            }
           
        }
    
        .sectionpara{
            width: 100%;
            p{
                color:white;
                font-size:1rem;
                font-weight: bolder;
            }
        }
    }


    // first section 
    
#first{
    margin-top:20rem;
  }
  .FirstLeftSide{
    text-align: center;
  }

  .SecondCol{
    margin-top:1rem;
}

    /* footer section  */
    #upper-section{
        display: flex;
      flex-direction: column;
        gap:3rem;
        margin-bottom: 3rem;
    }

    #upper-section-right p:first-child{
        margin-left:0rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

@media(min-width:751px) and (max-width:1200px){

    // navbar 
  

    .navbar-brand{
      img{
        width: 10rem;
      }

      .container{
        justify-content: space-between;
      }
    }

    .navbar{
        background-color:white;
    
        padding:1rem 1rem;
    
      
    }

    .nav-link{
        font-size: 1rem;
    }

    .hero{
        position:absolute;
        background-color: #541975;
        z-index: -1;
        width: 100%;
       height:100%;
        top:0;
    
        .container{
            margin-top:15rem;
            display: grid;
            grid-template-columns: 500px;
            justify-content: center;
            text-align: center;
        }

        .sectionpara{
            p{
                font-size:1rem;
            }
        }
    }

    #first{
        margin-top:20rem;
      }

      .FirstLeftSide{
        text-align: center;
      }
}